[user]
	name = schalox
	email = user1@server2.fake
[credential]
	helper = cache --timeout=3600
[alias]
	ci = commit
	civ = commit -v
	co = checkout
	di = diff
	st = status
	unstage = reset HEAD --
[diff]
	renames = copies
[push]
	default = simple
